<!-- <p ng-hide='!$ctrl.isLoaded'>Loading...</p>
<div ng-init='$root.categoryActive'>
    <button ng-class="{'active' : $root.categoryActive.name === 'all'}" ng-click='changeCategory(0);$root.categoryActive.name="all"'>Все рецепты</button>
    <button ng-class="{'active': $root.categoryActive.name === $index}"
            ng-click='changeCategory(category.id, $index)'
            ng-repeat='category in categories'>{{category.name}}</button>
</div> -->
<div class="container">
<ul class="nav nav-pills d-flex justify-content-center" ng-init='$root.categoryActive'>
    <li class="nav-item"
         ng-click='changeCategory(0);$root.categoryActive.name="all"'>
      <a ng-class="{'active' : $root.categoryActive.name === 'all'}" class="nav-link border border-primary m-2" href="#">Все рецепты</a>
    </li>
    <li class="nav-item text-center" 
    ng-click='changeCategory(category.id, $index)'
    ng-repeat='category in categories'>
      <a ng-class="{'active': $root.categoryActive.name === $index}" class="nav-link border border-primary m-2" href="#">{{category.name}}</a>
    </li>
  </ul>
</div>