<!-- <p ng-hide='!$ctrl.isLoaded'>Loading...</p>
<div ng-init='$root.categoryActive'>
    <button ng-class="{'active' : $root.categoryActive.name === 'all'}" ng-click='changeCategory(0);$root.categoryActive.name="all"'>Все рецепты</button>
    <button ng-class="{'active': $root.categoryActive.name === $index}"
            ng-click='changeCategory(category.id, $index)'
            ng-repeat='category in categories'>{{category.name}}</button>
</div> -->
<!-- <div class="container">
  
<ul class="nav nav-pills d-flex justify-content-center" ng-init='$root.categoryActive'>
  <nav class="navbar navbar-dark bg-dark">
    <li class="nav-item"
         ng-click='changeCategory(0);$root.categoryActive.name="all"'>
      <a ng-class="{'active' : $root.categoryActive.name === 'all'}" class="nav-link border border-primary m-2" href="#">Все рецепты</a>
    </li>
    <li class="nav-item text-center" 
    ng-click='changeCategory(category.id, $index)'
    ng-repeat='category in categories'>
      <a ng-class="{'active': $root.categoryActive.name === $index}" class="nav-link border border-primary m-2" href="#">{{category.name}}</a>
    </li>
  </nav>
  </ul>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><i class="fas fa-utensils"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" ng-click='changeCategory(0);$root.categoryActive.name="all"'>
        <a ng-class="{'active' : $root.categoryActive.name === 'all'}" class="nav-link" href="#">Все рецепты 
          <span ng-model='$root.a' class="badge badge-warning">{{(recipes | filter:$root.searchValue).length}}</span></a>
      </li>
      <li class="nav-item" ng-click='changeCategory(category.id, $index)' ng-repeat='category in categories'>
        <a ng-class="{'active': $root.categoryActive.name === $index}" class="nav-link" href="#">{{category.name}} <span
            class="badge badge-warning">{{(recipes |category:$index+1 | filter:$root.searchValue).length}}</span></a>
      </li>
    </ul>
  </div>
</nav>