<input ng-model='query'>
<div>{{recipes.length}}</div>
<div class='recipes-wrap'>
    <div ng-repeat='recipe in recipes |category:$root.categoryID |filter:query' class='recipe'>
        <h4>{{recipe.title}}</h4>
        <p>id{{recipe.id}}</p>
        <p>{{recipe.description}}</p>
        <button><a href="#!/recipes/{{recipe.id}}">Рецепт</a></button>
        
        <div >
            <div ng-repeat='category in recipe.categoryID | categoryName:$ctrl.categories' class='category-name category-{{category.id}}'>{{category.name}}</div>
        </div>
    </div>
</div>
<div class='pages-wrap'>
    <button ng-repeat='btn in _.range(((recipes | category:$root.categoryID | filter:query).length)/$root.onPage)'>{{$index+1}}</button>
</div>
