a {
    text-decoration: none;
    color: inherit;
    border: solid 1px black;
}

.recipes-wrap {
    border: solid 1px black;
}

.recipes-wrap button, .recipe-wrap button {
    padding: 0px;
    width: 50%;
}
a {
    padding: 4px 0px;
    display: inline-block;
    width: 100%;
}


.recipe {
    border: solid 1px blue;
    margin: 5px;
}

.active {
    border: solid 2px green
}

.category-name {
    border: solid 1px;
    display: inline-block;
    font-size: 10px;
    border-radius: 45px;
    padding: 4px;
}

.category-1 {
    background-color: red;
    color: white
}

.category-2 {
    background-color: blue;
    color: white
}

.category-3 {
    background-color: purple;
    color: white
}

.category-4 {
    background-color: yellowgreen;
    color: white
}

.category-5 {
    background-color: brown;
    color: white
}

.category-6 {
    background-color: green;
    color: white
}

.category-7 {
    background-color: rgb(156, 0, 78);
    color: white
}

/* RECIPE DETAIL */
.recipe-wrap {
    margin: 10px;
}

.recipe-process {
    text-indent: 1.5em
}